<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Seppocup Ranking</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Muokkaa ottelua</h1>
	<div>
		<form th:object="${ottelu}" th:action="@{../saveottelu}" action="#"
			method="post">
			<label for="id"></label>
			<input type="hidden" id="id" th:field="*{id}" readonly="readonly"/>
			<label for="joukkue1">Koti</label>
			<input type="text" id="joukkue1" th:field="*{joukkue1}" />
			<label for="joukkue2">Vieras</label>
			<input type="text" id="joukkue2" th:field="*{joukkue2}" />
			<label for="maalit1">Maalit koti</label>
			<input type="text" th:field="*{maalit1}" />
			<label for="maalit2">Maalit vieras</label>
			<input type="text" th:field="*{maalit2}" />
			<label for="pisteet1">Pisteet koti</label>
			<input type="text" th:field="*{pisteet1}" />
			<label for="pisteet2">Pisteet vieras</label>
			<input type="text" th:field="*{pisteet2}" />
			<label for="ja">JA</label>
			<input type="text" th:field="*{ja}" />
    		
			
			<div style="clear: both; display: block; height: 10px;"></div>
			<input type="submit" value="Save" class="btn btn-success"></input>
		</form>
	</div>
</body>
</html>